<form [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput placeholder="edin@gmail.com" formControlName="email" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input
      matInput
      type="password"
      placeholder="Type in your password"
      formControlName="password"
    />
  </mat-form-field>
  <button
    color="accent"
    [disabled]="!loginForm.valid"
    mat-raised-button
    type="submit"
  >
    <span>Log in</span>
  </button>
</form>
